/**/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  background-color: #E6ECF0;
}

header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF;
}

header ul {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  height: 50px;
  padding-left: 70px;
}

header ul li {
  display: inline-block;
  line-height: 48px;
}

header ul li a {
  display: inline-block;
  text-decoration: none;
	padding: 0 10px;
	font-weight: 700;
	font-size: 13px;
  color: #A1A19E;
}

header ul li a:hover {
	opacity: 0.7;
	border-bottom: 2px solid #1DA1F2;
  color: #1DA1F2;
}

#twitter-logo {
  display: inline-block;
  position: absolute;
  top: 15px;
	font-size: 25px;
	margin-left: 650px;
  color: #1DA1F2;
}

header input {
  width: 210px;
  position: absolute;
  top: 7px;
  left: 850px;
  padding: 10px;
  border: 1px solid #F5F8FA;
	border-radius: 50px;
	color: #A1A19E;
}

header input::placeholder {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: .5px;
  color: #A1A19E;
}

header input:focus {
  outline: none;
	border: .5px solid #868684;
}

span .fa-search {
  position: absolute;
  top: 17px;
  left: 1033px;
	font-size: 18px;
  color: #66757F;
}

header button {
  position: absolute;
	top: 7px;
	right: 100px;
  cursor: pointer;
  padding: 8px 15px;
	border: 1px solid transparent;
	border-radius: 16px;
	font-size: 14px;
	font-weight: 600;
  color: #FFFFFF;
  background-color: #1DA1F2;
}

/**/

#profile {
  width: 300px;
	height: auto;
  float: left;
  margin-top: 30px;
	margin-left: 80px;
  padding-bottom: 15px;
	background-color: #FFFFFF;
}

#profile h2 {
  margin-top: 50px;
	margin-left: 30px;
	font-size: 18px;
	line-height: 25px;
  color: #14171A;
}

#profile h3 {
  margin-top: 10px;
	margin-left: 30px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
  color: #9AA5AF;
}

#profile p {
  margin-top: 20px;
	margin-left: 30px;
	font-size: 15px;
	font-weight: 500;
  color: #14171A;
}

/**/
#tweet {
	width: 600px;
	height: auto;
  float: left;
	margin-top: 50px;
	margin-left: 20px;
  background-color: #E8F4FB;
}

#tweet form textarea {
	width: 580px;
	height: auto;
  margin-top: 10px;
	margin-left: 5px;
	border: 1px solid #1DA1F2;
	border-radius: 10px;
  font-size: 15px;
	resize: none;
}

#tweet form textarea:focus {
  outline: none;
}

#tweet button {
  margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
  cursor: pointer;
  padding: 8px 15px;
	border: 1px solid transparent;
	border-radius: 16px;
	font-size: 14px;
	font-weight: 600;
  color: #FFFFFF;
  background-color: #1DA1F2;
}

#tweet button:hover {
	opacity: 0.9;
}

#tweet button:focus {
	outline: 1px solid blue;
}

#tweet button:disabled {
	opacity: 0.4;
}

#tweet p {
	float: right;
	margin-right: 20px;
	margin-top: 10px;
  font-size: 18px;
	color: #7D8A99;
}

/**/
#tweeted {
	width: 500px;
	height: auto;
  margin-top: 50px;
  text-align: left;
	color: #14171A;
}

.tweetParagraph {
  width: 580px;
	height: auto;
	margin-top: 10px;
  margin-left: 405px;
  margin-bottom: 10px;
	padding: 16px 10px;
	outline: 1px solid #1DA1F2;
	background-color: #FFFFFF;
}

.time {
	display: inline-block;
  margin-left: 405px;
	font-size: 14px;
	color: #7D8A99;
}
